{% load static %}
{% block content %}
{% include 'app/navbar.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Empowering Your Health Journey</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
    <div id="section5">
        <div class="section5-content">
            <div class="contact-box">
                <div class="contact-left">
                    <h3><u>Send your request</u></h3>
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <div class="input-row">
                            <div class="input-group">
                                <label>Name</label>
                                <input type="text" name="name" placeholder="Juan Dela Cruz" required>
                            </div>
                            <div class="input-group">
                                <label>Phone No.</label>
                                <input type="text" name="phone" placeholder="+63 912345678" required>
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-group">
                                <label>Email</label>
                                <input type="email" name="email" placeholder="your@gmail.com" required>
                            </div>
                            <div class="input-group">
                                <label>Address</label>
                                <input type="text" name="address" placeholder="address" required>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
                        <button type="submit">SEND</button>
                    </form>
                </div>

                <div class="contact-right">
                    <p>I would be delighted to react to your inquiries and assist you in your endeavors.</p>
                    <h3><u>Get in touch</u></h3>
                    <table>
                        <tr>
                            <td><label>Email:</label></td>
                            <td>sample123@gmail.com</td>
                        </tr>
                        <tr>
                            <td><label>Phone:</label></td>
                            <td>63+ 9123456789</td>
                        </tr>
                        <tr>
                            <td><label>Address:</label></td>
                            <td>123 Sample Year new city</td>
                        </tr>
                    </table>
                    <br>
                    <h3><u>Social Media</u></h3>
                    <div class="socmedicons">
                        <a href="https://www.facebook.com/euyitsmark" target="_blank">
                            <img src="{% static 'images/facebook.png' %}" class="fb" alt="Facebook">
                        </a>
                        <a href="https://www.instagram.com/iitsmarkkk/" target="_blank">
                            <img src="{% static 'images/instagram.jpg' %}" class="ig" alt="Instagram">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}
