<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Health and Wellness</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
{% block content %}
{% include 'app/navbar.html' %}
    <div class="info-section">
        <div class="info-image">
            <img src="{% static 'images/life.jpg' %}" alt="Health and Wellness Image">
        </div>
        <div class="info-text">
            <h1>Welcome to Health & Wellness</h1>
            <p>Your journey to a healthier, balanced lifestyle begins here.</p>
            <a href="/services" class="btn">Explore Now</a>
        </div>
    </div>
{% endblock content %}
</body>
</html>
