{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

<nav class="navbar">
    <!-- Checkbox to toggle mobile menu -->
    <input type="checkbox" id="menu-toggle">

    <!-- Hamburger Icon (visible on mobile) -->
    <label for="menu-toggle" class="menu-icon">
        <i class="ri-menu-line"></i>
    </label>

    <!-- Site Logo -->
    <a href="/" class="site-logo">Empowering Your Health Journey</a>

    <!-- Navigation Links -->
    <ul class="nav-links">
        <li><a href="/">HOME</a></li>
        <li><a href= "/blog">BLOG</a></li>
        <li><a href="{% url 'services' %}">SERVICES</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
    </ul>
</nav>
