<!DOCTYPE html>
{% load static %}
{% include 'app/navbar.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/workouts_list.css' %}">
    <title>Services</title>
</head>
<body>

<div class="container">
    <div class="service-wrapper">
        <h1>Click the below to FillUp your healthGoal</h1>
        <a href="{% url 'add_healthgoal' %}">
            <img src="{% static '/images/homebg.jpg' %}" alt="WorkOuts" />
        </a>
    </div>
</div>

<div id="workouts-modal" class="modal">
    <div class="modal-content">
        <p>Let's Work and Build Your Muscle</p>
        <button class="add-button" onclick="window.location.href='{% url 'add_healthgoal' %}'">Add</button>
    </div>
</div>
</body>
</html>
